<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
     
<head>
       

<meta http-equiv="X-UA-Compatible" content="IE=9" /><!-- MUST BE FIRST TAG AFTER <HEAD> -->

<script>
  (function(doc) {
      if ( navigator.userAgent.match(/iPad/i) ) {
        document.write('<meta name="viewport" content="width=device-width, initial-scale=0.75, user-scalable=no">'); 
      } else if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i) || window.screen.width <= 640){
        document.write('<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">'); 
      }
    }(document));
</script>

<link href="goarmy.com_files/reserve.css" rel="stylesheet" type="text/css">


<title>Prior Service | goarmy.com</title>

   


<script type="text/javascript" src="/vendor_scripts/jquery-1.4.3.min.js" language="javascript"></script>
<script type="text/javascript" language="JavaScript" src="goarmy.com_files/swfobject22.js"></script>
<script type="text/javascript" language="JavaScript" src="goarmy.com_files/swfaddress2.js"></script>
<!--script type="text/javascript" src="goarmy.com_files/analytics.js" language="javascript"></script-->
<script type="text/javascript" src="goarmy.com_files/global.js" language="javascript"></script>
<script type="text/javascript" src="goarmy.com_files/cookies.js" language="javascript"></script>
<script type="text/javascript" src="goarmy.com_files/tooltip.js" language="javascript"></script>
<script type="text/javascript" src="http://sgtstar.goarmy.com/ActiveAgentUI/includes/NIT.Embed.js" language="javascript"></script>
<script type="text/javascript" src="goarmy.com_files/topnav.js" language="javascript"></script>


<script type="text/javascript" src="goarmy.com_files/channel.js" language="javascript"></script>
<script type="text/javascript" src="goarmy.com_files/wordtip.js" language="javascript"></script>
<script type="text/javascript" src="goarmy.com_files/communityControls.js" language="javascript"></script>

<!--[if IE]>
<script type="text/javascript" src="/static/scripts/pngFix.js"></script>
<script type="text/javascript"> 
    jQuery(document).ready(function(){ 
        jQuery('img.pngFix').ifixpng(function(){});
    }); 
</script> 
<![endif]-->



<link href="goarmy.com_files/global.css" rel="stylesheet" type="text/css"/>
<link href="goarmy.com_files/global3.css" rel="stylesheet" type="text/css"/>
<link href="goarmy.com_files/mexperience.css" rel="stylesheet" type="text/css"/>
<link href="goarmy.com_files//prior-service.styles.css" rel="stylesheet" type="text/css"/>
    



<!-- ac2rc files -->

    <script type="text/javascript" src="/vendor_scripts/jquery.selectbox-0.6.1.pack.js" language="javascript"></script>
    <script type="text/javascript" src="/vendor_scripts/TweenMax.min.js"></script>
    <script type="text/javascript" src="/vendor_scripts/angular.min.js"></script>
    <script type="text/javascript" src="/vendor_scripts/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/vendor_scripts/angular-touch.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="/vendor_scripts/ng-map.min.js"></script>
    <script type="text/javascript" src="/vendor_scripts/angular-shims-placeholder.min.js"></script>


    <!--  ====== ac2rc CSS ====== -->	
	<link rel="stylesheet" href="/styles/ac2rc.css" type="text/css">

	
    <!--  ====== ac2rc JS ====== -->
    <script type="text/javascript" src="/scripts/all.js"></script>
   

</head>

<body id="cq-gen7" class=" cq-wcm-preview  ext-safari ext-mac">


<div id="channelWrapper">
    <div id="channelMarquee" style="background-repeat:no-repeat;background-attachment:fixed;"></div>
    <div id="site_wrapper">
            <div class="parbase topnav globalcomponent">


<a href="#content_top"></a>
<div id="topNavigation">
<a href="/goarmy.html"><img src="/goarmy.com_files/tn-logo.png" class="pngFix" id="logo" alt="U.S. ARMY - ARMY STRONG &reg;" title="U.S. ARMY - ARMY STRONG &reg;"/></a>
<div id="menu" >
<div id="topnavrow">
<div id="inner_toprow">

    <div id="search">
        <form name="SiteSearchForm" method="get" action="/search.html" id="globalSearch">
          <input id="siteSearch" maxlength="100" name="q" value="Site Search"/>
          <input type="image" src="/goarmy.com_files/blank.gif" id="srcBtn" value="" alt="" />
        </form>
    </div>

     <div id="sgtStar">
        <a href="javascript:LaunchSgtStar()" class="imgBtn"><img src="/goarmy.com_files/sgtstar.i.png" class="pngFix" width="204" height="54" alt="ASK SGT STAR" title="ASK SGT STAR"/></a>
    </div>
 </div>
</div>

<div id="ucmitems">

<ul>
    <li>
        <a class="imgBtn" href="/talk-with-us.html"><img src="/goarmy.com_files/tn-talk-ucm.png" alt="TALK TO US"/></a>
        <a class="ucmItemLinki" href="/talk-with-us.html">TALK TO US</a>
    </li>
    <li>
        <a class="imgBtn" href="https://my.goarmy.com/info/reserve/nps1"><img src="/goarmy.com_files/tn-request-ucm.png" alt="REQUEST INFO"/></a>
        <a class="ucmItemLinki" href="https://my.goarmy.com/info/reserve/nps1">REQUEST INFO</a>
    </li>
    <li>
        <a class="imgBtn" href="/locate-a-recruiter.html"><img src="/goarmy.com_files/tn-locate-ucm.png" alt="LOCATE US"/></a>
        <a class="ucmItemLinki" href="/locate-a-recruiter.html">LOCATE US</a>
    </li>
    <li>
        <a class="imgBtn" href="/learn.html"><img src="/goarmy.com_files/tn-learn-ucm.png" alt="LEARN HOW TO JOIN"/></a>
        <a class="ucmItemLinki" href="/learn.html">LEARN HOW TO JOIN</a>
    </li>
    <li>
        <a class="imgBtn" href="/learn/apply.html"><img src="/goarmy.com_files/tn-apply-ucm.png" alt="APPLY ONLINE"/></a>
        <a class="ucmItemLinki" href="/learn/apply.html">APPLY ONLINE</a>
    </li>
</ul>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery(".navSec3 .topsubnav").css("width","525px");
});</script>
<!-- <div id="topnavmenurow"> -->
    <ul id="navigation" class="wideNav">

<li class="navbtn navSec1"><a href="/about.html" class="topLevNav" style="padding-left:15px;">About the Army</a>
           
           <!-- iframe is needed to cover possible <select> elements in ie6  -->
<!--[if IE 6]><iframe class="topsubnav"  src="/static/topNavBlankIframe.html" frameborder='0' scrolling='no'></iframe>
    <![endif]--><div class="topsubnav">
                <ul class="navCol">
                        <li><a href="/about/personnel.html">Personnel</a></li>
                            <li><a id="service-options" href="/about/service-options.html">Service Options</a>
                            <ul class="subSub"><li><a href="/about/service-options/active-duty-and-reserve-duty.html">Active Duty & Army Reserve</a></li><li><a href="/about/service-options/enlisted-soldiers-and-officers.html">Enlisted Soldiers & Officers</a></li>
                        </ul>
                    </li>
                        
                        <li><a href="/about/army-training.html">Training, Careers & Jobs</a></li></ul>
                        <ul class="navCol">
                            <li><a id="army-vehicles-and-equipment" href="/about/army-vehicles-and-equipment.html">Vehicles & Equipment</a>
                            <ul class="subSub"><li><a href="/about/army-vehicles-and-equipment/army-helicopters-and-uavs.html">Helicopters & UAVs</a></li><li><a href="/about/army-vehicles-and-equipment/tanks-and-fighting-vehicles.html">Tanks & Fighting Vehicles</a></li><li><a href="/about/army-vehicles-and-equipment/support-vehicles.html">Support Vehicles</a></li><li><a href="/about/army-vehicles-and-equipment/army-gear-and-weapons.html">Gear & Weapons</a></li>
                        </ul>
                    </li>
                        
                        <li><a href="/about/post-locations.html">Post Locations</a></li>
                        <li><a href="/about/ranks-and-insignia.html">Ranks & Insignia</a></li>
                        </ul>
                        <ul class="navCol">
                        <li><a href="/about/videos.html">videos</a></li>
            </ul>
                <div class="clear"></div>
            </div>
            </li><li><div id="topnav_break"></div></li><li class="navbtn navSec2"><a href="/careers-and-jobs.html" class="topLevNav">Careers & Jobs</a>
           
           <!-- iframe is needed to cover possible <select> elements in ie6  -->
<!--[if IE 6]><iframe class="topsubnav"  src="/static/topNavBlankIframe.html" frameborder='0' scrolling='no'></iframe>
    <![endif]--><div class="topsubnav">
                <ul class="navCol">
                            <li><a id="help-choosing-a-career-job" href="/careers-and-jobs/help-choosing-a-career-job.html">Help Choosing A Career</a>
                            <ul class="subSub"><li><a href="/careers-and-jobs/help-choosing-a-career-job/army-career-explorer.html">Army Career Explorer</a></li><li><a href="/careers-and-jobs/help-choosing-a-career-job/by-skills-and-interests.html">By Skills & Interests</a></li>
                        </ul>
                    </li>
                        
                        <li><a href="/careers-and-jobs/browse-career-and-job-categories.html">Search Careers & Jobs</a></li>
                            <li><a id="stem" href="/careers-and-jobs/stem.html">Army STEM</a>
                            <ul class="subSub"><li><a href="/careers-and-jobs/stem/about-army-stem.html">Science, Technology, Engineering & Math</a></li>
                        </ul>
                    </li>
                        </ul>
                        <ul class="navCol">
                            <li><a id="specialized-careers" href="/careers-and-jobs/specialized-careers.html">Specialized Careers</a>
                            <ul class="subSub"><li><a href="/reserve.html">Army Reserve</a></li><li><a href="/band.html">Army Bands</a></li><li><a href="/chaplain.html">Army Chaplain Corps</a></li><li><a href="/jag.html">Army Law (JAG Corps)</a></li><li><a href="/amedd.html">Army Health Care (AMEDD)</a></li><li><a href="/special-forces.html">Special Forces</a></li><li><a href="/ranger.html">Ranger</a></li><li><a href="/linguist.html">Linguists</a></li><li><a href="/about/service-options/enlisted-soldiers-and-officers/warrant-officers.html">Warrant Officer</a></li>
                        </ul>
                    </li>
                        </ul>
                        <ul class="navCol">
                            <li><a id="become-an-officer" href="/careers-and-jobs/become-an-officer.html">Become an Officer</a>
                            <ul class="subSub"><li><a href="/careers-and-jobs/become-an-officer/officer-benefits.html">Benefits</a></li><li><a href="/careers-and-jobs/become-an-officer/army-officer-jobs.html">Careers</a></li><li><a href="/careers-and-jobs/become-an-officer/how-to-become-an-officer-in-the-army.html">Paths</a></li><li><a href="/careers-and-jobs/become-an-officer/becoming-an-army-officer.html">Find Your Path</a></li><li><a href="/careers-and-jobs/become-an-officer/army-officer-faqs.html">FAQ</a></li>
                        </ul>
                    </li>
                        
                        <li><a href="/careers-and-jobs/enlisted-soldier.html">Enlisted Soldier</a></li>
            </ul>
                <div class="clear"></div>
            </div>
            </li><li><div id="topnav_break"></div></li><li class="navbtn navSec3"><a href="/benefits.html" class="topLevNav">Benefits</a>
           
           <!-- iframe is needed to cover possible <select> elements in ie6  -->
<!--[if IE 6]><iframe class="topsubnav"  src="/static/topNavBlankIframe.html" frameborder='0' scrolling='no'></iframe>
    <![endif]--><div class="topsubnav">
                <ul class="navCol">
                        <li><a href="/benefits/total-compensation.html">Total Compensation</a></li>
                            <li><a id="money" href="/benefits/money.html">Money</a>
                            <ul class="subSub"><li><a href="/benefits/money/basic-pay-active-duty-soldiers.html">Basic Pay: Active Duty Soldiers</a></li><li><a href="/benefits/money/drill-pay-army-reserve-soldiers.html">Drill Pay: Army Reserve Soldiers</a></li><li><a href="/benefits/money/special-pay-for-special-duties-and-skills.html">Special Pay: For Special Duties & Skills</a></li><li><a href="/benefits/money/allowances-covering-the-cost-of-living.html">Allowances: Covering the Cost of Living</a></li><li><a href="/benefits/money/bonuses-earning-extra-money.html">Bonuses: Earning Extra Money</a></li>
                        </ul>
                    </li>
                        
                            <li><a id="education-benefits" href="/benefits/education-benefits.html">Education</a>
                            <ul class="subSub"><li>null</li><li><a href="/benefits/education-benefits/army-education.html">Get an Army Education</a></li>
                        </ul>
                    </li>
                        
                        </ul>
                        <ul class="navCol">
                        <li><a href="/benefits/health-care-vacation.html">Health Care & Vacation</a></li>
                            <li><a id="additional-incentives" href="/benefits/additional-incentives.html">Additional Incentives</a>
                            <ul class="subSub"><li><a href="/benefits/additional-incentives/blue-to-green.html">Operation Blue to Green</a></li><li><a href="/benefits/additional-incentives/partnership-for-youth-success.html">Partnership for Youth Success (PaYS)</a></li><li><a href="/benefits/additional-incentives/home-school-graduate.html">Home School Graduate</a></li>
                        </ul>
                    </li>
                        
                        <li><a href="/benefits/soldier-and-family-services.html">Soldier & Family Services</a></li>
                        </ul>
                        <ul class="navCol">
                        <li><a href="/benefits/after-the-army.html">After the Army</a></li>
                            <li><a id="additional-incentives1" href="/benefits/additional-incentives1.html">Additional Incentives</a>
                            <ul class="subSub"><li><a href="/benefits/additional-incentives1/blue-to-green.html">Operation Blue to Green</a></li><li><a href="/benefits/additional-incentives1/partnership-for-youth-success.html">Partnership for Youth Success (PaYS)</a></li><li><a href="/benefits/additional-incentives1/home-school-graduate.html">Home School Graduate</a></li>
                        </ul>
                    </li>
                        
                        <li><a href="/benefits/prepping.html">null</a></li>
            </ul>
                <div class="clear"></div>
            </div>
            </li><li><div id="topnav_break"></div></li><li class="navbtn navSec4"><a href="/soldier-life.html" class="topLevNav">Soldier Life</a>
           
           <!-- iframe is needed to cover possible <select> elements in ie6  -->
<!--[if IE 6]><iframe class="topsubnav"  src="/static/topNavBlankIframe.html" frameborder='0' scrolling='no'></iframe>
    <![endif]--><div class="topsubnav">
                <ul class="navCol">
                            <li><a id="becoming-a-soldier" href="/soldier-life/becoming-a-soldier.html">Becoming a Soldier</a>
                            <ul class="subSub"><li><a href="/soldier-life/becoming-a-soldier/working-with-a-recruiter.html">Working with a Recruiter</a></li><li><a href="/soldier-life/becoming-a-soldier/basic-combat-training.html">Basic Combat Training</a></li><li><a href="/soldier-life/becoming-a-soldier/advanced-individual-training.html">Advanced Individual Training</a></li>
                        </ul>
                    </li>
                        
                            <li><a id="being-a-soldier" href="/soldier-life/being-a-soldier.html">Being a Soldier</a>
                            <ul class="subSub"><li><a href="/soldier-life/being-a-soldier/work-and-free-time.html">At Work & During Free Time</a></li><li><a href="/soldier-life/being-a-soldier/ongoing-training.html">Ongoing Training</a></li><li><a href="/soldier-life/being-a-soldier/housing.html">Housing</a></li><li><a href="/soldier-life/being-a-soldier/living-the-army-values.html">Living the Army Values</a></li>
                        </ul>
                    </li>
                        
                            <li><a id="fitness-and-nutrition" href="/soldier-life/fitness-and-nutrition.html">Fitness & Nutrition</a>
                            <ul class="subSub"><li><a href="/soldier-life/fitness-and-nutrition/safety-considerations.html">Safety Considerations</a></li><li><a href="/soldier-life/fitness-and-nutrition/components-of-fitness.html">Components of Fitness</a></li><li><a href="/soldier-life/fitness-and-nutrition/components-of-nutrition.html">Components of Nutrition</a></li><li><a href="/soldier-life/fitness-and-nutrition/exercise.html">Exercise</a></li><li><a href="/soldier-life/fitness-and-nutrition/core-ops.html">Life Experience</a></li>
                        </ul>
                    </li>
                        </ul>
                        <ul class="navCol">
                            <li><a id="army-family-strong" href="/soldier-life/army-family-strong.html">null</a>
                            <ul class="subSub"><li><a href="/soldier-life/army-family-strong/army-daily-life.html">Army Daily Life</a></li><li>null</li><li><a href="/soldier-life/army-family-strong/raising-children.html">Raising Children</a></li><li><a href="/soldier-life/army-family-strong/deployment.html">Deployment</a></li><li><a href="/soldier-life/army-family-strong/recreation.html">Recreation</a></li><li><a href="/soldier-life/army-family-strong/relocation.html">Relocation</a></li><li>null</li>
                        </ul>
                    </li>
                        
            </ul>
                <div class="clear"></div>
            </div>
            </li><li><div id="topnav_break"></div></li><li class="navbtn navSec5"><a href="/parents.html" class="topLevNav">For Parents</a>
           
           <!-- iframe is needed to cover possible <select> elements in ie6  -->
<!--[if IE 6]><iframe class="topsubnav"  src="/static/topNavBlankIframe.html" frameborder='0' scrolling='no'></iframe>
    <![endif]--><div class="topsubnav">
                <ul class="navCol">
                        <li><a href="/parents/answers.html">Get The Answers</a></li>
                        <li><a href="/parents/real-life-stories.html">Real-Life Stories</a></li>
                        <li><a href="/army-para-padres.html">Para Padres</a></li>
            </ul>
                <div class="clear"></div>
            </div>
            </li>
    </ul><!-- /navigation -->
    <div class="parbase ucm globalcomponent">
<div id="ucm">
    <div id="ucmPortal">
        <a id="loginLink" href="https://my.goarmy.com/accounts/register/login.jsp"><span id="lgnTxt">Log In</span></a>
        <div class="break"></div> 
        <a id="registerLink" href="https://my.goarmy.com/accounts/register/user_agreement.jsp"><span id="lgnReg">Register</span></a>
    </div> <!-- ucmPortal -->
      
<script><!--
jQuery(document).ready(function () {
jQuery(".ucmItem").hover(function() {
        jQuery("a.ucmItemLinki", this).css("color","#ffffff");
            }, function() {
        jQuery("a.ucmItemLinki", this).css("color","#f6cd2e");
    });
 });
//--></script>      
       



</div><!--/ucm-->
</div>

<!-- </div> -->
</div><!-- /menu  -->
<div class="clear"></div>
</div><!--  /top navigation  -->
</div>


<!--
====================== END OF HEADER ======================
-->

<div id="page_content">
                
    <a name="content_top"></a>

    <div id="main_content" >

        <div class="parsys contentpar"><div class="htmlcomponent parbase section globalcomponent">



<!-- ======================== ac2rc ======================== -->
<div ng-app="ac2rc" id="ac2rc-wrap">
    
    <div id="ac2rc-nav" ui-view="nav">
        <ul class="clearfix desktop-nav">
            <li sectionId="benefits" ng-click="showSection('benefits')"><h2>Transition Benefits</h2></li>
            <li sectionId="success"  ng-click="showSection('success')"><h2>Soldier Stories</h2></li>
            <li sectionId="locations"  ng-click="showSection('locations')"><h2>Locations & Careers</h2></li>
            <li sectionId="stepGuide"  ng-click="showSection('stepGuide')"><h2>How to Transition</h2></li>
        </ul>

        <div class="mobile-header">
            <div class="mobile-header-inside home">

                <a href="http://m.goarmy.com" class="logo"></a>
                <div class="heading">
                    <div class="h1">Command your future</div>
                    <div class="h2">{{sectionTitle}}</div>
                </div>
                <div class="hamburger" ng-click="openMobileNav()"></div>
            </div>
            
            <ul class="clearfix">
                <li ng-click="showSection('intro')">Home</li>
                <li ng-click="showSection('benefits')">Transition Benefits</li>
                <li ng-click="showSection('success')">Soldier Stories</li>
                <li ng-click="showSection('locations')">Locations & Careers</li>
                <li ng-click="showSection('stepGuide')">How to Transition</li>
            </ul>
        </div>
    </div>

    <div id="intro" class="section-ac2rc" ui-view="intro">
        <div class="section-inside">
            <div class="badge"></div>

            <div class="intro-copy">
                <h2>Command your future</h2>
                <h1>Transition from active duty to the U.S. Army Reserve</h1>
                <h3>Here are the tools to help you transition from<br class="mobileBr"> Active&nbsp;Duty<br> and ensure the Army Reserve<br class="mobileBr"> complements your life.</h3>
            </div>
        </div>
        <div class="mobile-cta">
            Ready to Transition?
            <span>Call or email us for more information</span>

            <div class="links clearfix">
                <a href="tel:+1-877-780-4264">Call Us</a>
                <a href="mailto:usarmy.knox.hrc.mbx.cmd-staff-rct-helpdesk@mail.mil">Email Us</a>
            </div>
        </div>     
    </div>

    <div id="benefits" class="section-ac2rc" ui-view="benefits"></div>

    <div id="success" class="section-ac2rc" ui-view="success"></div>

    <div id="locations" class="section-ac2rc" ui-view="locations"></div>

    <div id="stepGuide" class="section-ac2rc" ui-view="step-guide"></div>

    <div id="call-to-action">
        Ready to Start your transition?
        <p>Call us at 1-877-780-4264 or email us <a href="mailto:usarmy.knox.hrc.mbx.cmd-staff-rct-helpdesk@mail.mil">here.</a></p>
    </div>

</div>

</div><!--/#ac2rc-wrap-->      

<!-- =================== END OF ac2rc ====================== -->


</div>
<div class="new section"></div>
</div>

        <div class="transcript parbase globalcomponent">

</div>

        <div class="spacer"></div>
        
        
</div><!--/main_content-->
            </div><!--/page_content-->
    </div><!--/site_wrapper-->
    <div class="footer">











<!-- footer -->

        <div id="footer-wrap" class="bottom_body_footer_rounded"> 

    <div class="inner" id="bottom_nav">
    
            <div class="sgt-star">
                <h4 class="title">HAVE A QUESTION?</h4>
                <div class="sgt-star-desc">
                    <p>
                        SGT STAR can help answer any question you have about the Army.
                    </p>
                    <a href="javascript:LaunchSgtStar();" class="sgt-star-button"><span></span></a>
                </div>
                <img src="/goarmy.com_files/sgt_star.jpg" alt="Sgt Star"/>
            </div><!-- /.sgt-star  -->
  
            <div class="footer_column_links">
                <ul>
                
                
                    <li class="title">CONTACT US</li>
                    <li><a href="/talk-with-us/email-us.html" title="Email"><!-- img  src="/goarmy.com_files/16x16email02.png" alt="Email" title="Email"/--> Email</a></li>
                    <li><a href="/talk-with-us/phone.html" title="Phone"> <!-- img  src="/goarmy.com_files/16x16phone.png" alt="Phone" title="Phone"/--> Phone</a></li>
                    <li class=""><a href="https://my.goarmy.com/info/reserve/nps1" title="Request Info">Request Info</a></li>
                    <li class=""><a href="/locate-a-recruiter.html" title="Locate Us">Locate Us</a></li>
                    <li class=""><a href="/learn.html" title="Learn How to Join">Learn How to Join</a></li>
                    <li class="last"><a href="/learn/apply.html" title="Apply Online">Apply Online</a></li>
                    
                </ul>
            </div> <!-- /footer_column_links -->
            <div class="footer_column_links">
                <ul>
                    <li class="title"></li>
                    

                </ul>
            </div><!-- /footer_column_links -->
            <div class="footer_column_links">
                <ul>
                    <li class="title"></li>
                    
                    

                </ul>
            </div><!-- /footer_column_links -->
            <div class="footer_column_links">
                <ul>
                    <li class="title"></li>
                    
                        <li><a href="http://www.facebook.com/goarmy" target="_blank"><img src="/goarmy.com_files/16x16facebook.png" alt=""/>Facebook</a></li>
                     
                    
                    
                        <li><a href="http://twitter.com/goarmy" target="_blank"><img src="/goarmy.com_files/16x16twitter.png" alt=""/>Twitter</a></li>
                    
                    
                        <li><a href="http://pinterest.com/goarmypins/" target="_blank"><img src="/goarmy.com_files/16x16pinterest.png" alt=""/>Pinterest</a></li>
                    
                    
                        <li><img src="/goarmy.com_files/16x16youTube.png" alt=""/>YouTube</li>
                    
                     
                        <li><a href="https://plus.google.com/107121394533227762172?prsrc=3" target="_blank"><img src="/goarmy.com_files/16x16plusOne2.png" alt="" style="border:0;width:16px;height:16px;"/>Google+</a></li>                   
                    
                        <li><a href="http://www.flickr.com/photos/goarmyphotos" target="_blank"><img src="/goarmy.com_files/16x16flickr.png" alt=""/>Flickr</a></li>
                    
                    
                        <li><a href="http://www.linkedin.com/company/us-army" target="_blank"><img src="/goarmy.com_files/linkedin.png" alt=""/>LinkedIn</a></li>
                    
                    
                        <li><a href="http://instagram.com/goarmy#" target="_blank"><img src="/goarmy.com_files/instagram_16x16.png" alt=""/>Instagram</a></li>
                    
                    
                </ul>
            </div><!-- /footer_column_links -->
            <div class="clear"></div>
      
        
            <div class="bottom_body_footer_text">
        <ul>
            
                <li id="ctc"></li>
                
                    </ul>
                    
                    <ul class="footer_links footerright">
                    <li>
                    
                    </li>
                    
                </ul>
        
    </div> <!-- /bottom-nav -->
    
    </div> <!-- /inner -->

</div>
</div>

    
    











</body>

</html>